{{ define "main" }}
  <div class="archive">
    <div class="intro">
      Welcome to my blog! :) Here I write about my interests and projects in C++, software architecure, and more recently game development.
    </div>
  
    <div class="intro">
      My latest project is an educational game engine in C++. My goal is to start small and learn the basics that is needed to create games and graphical applications in general. Here you can check out the posts about this series:
    </div>

    <div class="archive__table">
      {{ range where .Site.RegularPages ".Params.categories" "intersect" (slice "Game Engine Explorations") }}
        <div class="archive__group-month">
          <span class="archive__group-date-header">{{ .Date.Format "Jan 02 2006" }}</span>
          <div class="archive__group-posts">
            <div class="archive__post">
              <span class="archive__post-title">
                <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
              </span>
              <div class="archive__post-meta">
                {{ with .Params.Author }}
                  <span class="archive__post-author"
                    >—
                    {{ $.Site.Params.WrittenBy | default "Written by" }}
                    {{ . }}
                  </span>
                {{ end }}
                {{ if $.Site.Params.ShowReadingTime }}
                  <span class="archive__post-read-time"
                    >— {{ .ReadingTime }}
                    {{ $.Site.Params.MinuteReadingTime | default "min read" }}</span
                  >
                {{ end }}
              </div>
            </div>
          </div>
        </div>
      {{ end }}
    </div>

    <div class="intro">
      or you can find all my other posts by category:
    </div>  

    {{ range $category_name, $category_values := .Site.Taxonomies.categories }}
      {{ if ne $category_name "game-engine-explorations" }}
      <div class="archive__table">
        <h2 class="archive__group-year-header">{{ $category_name | humanize }}</h2>
        {{- range $category_values.Pages }}
          <div class="archive__group-month">
            <span class="archive__group-date-header">{{ .Date.Format "Jan 02 2006" }}</span>
            <div class="archive__group-posts">
              <div class="archive__post">
                <span class="archive__post-title">
                  <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
                </span>
                <div class="archive__post-meta">
                  {{ with .Params.Author }}
                    <span class="archive__post-author"
                      >—
                      {{ $.Site.Params.WrittenBy | default "Written by" }}
                      {{ . }}
                    </span>
                  {{ end }}
                  {{ if $.Site.Params.ShowReadingTime }}
                    <span class="archive__post-read-time"
                      >— {{ .ReadingTime }}
                      {{ $.Site.Params.MinuteReadingTime | default "min read" }}</span
                    >
                  {{ end }}
                </div>
              </div>
            </div>
          </div>
        {{- end}}
      </div>
      {{ end }}  
    {{ end }}
  </div>
{{ end }}
